.webFeaturedContainer {
	background: #fff5f5;
	height: 500px;
	position: relative;
	border-radius: 4px;

	p {
		font-weight: 400;
	}

	a {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.6);
	}

	.imgContainer {
		position: absolute;
		bottom: 40px;
		text-align: center;

		img {
			width: 80%;
		}
	}
	transition: all 0.25s ease-in-out;
	&:hover {
		box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
	}
}

.webNonFeaturedContainerFirst {
	background: #edf0ff;
	border-radius: 4px;
	height: 100%;

	p {
		font-weight: 400;
	}

	a {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.6);
	}

	.imgContainer {
		position: absolute;
		bottom: 24px;
		right: 16px;
		text-align: end;

		img {
			width: 160px;
		}
	}
	transition: all 0.25s ease-in-out;
	&:hover {
		box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
	}
}

.webNonFeaturedContainerSecond {
	background: #e9f0f3;
	border-radius: 4px;
	height: 100%;

	p {
		font-weight: 400;
	}

	a {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.6);
	}

	.imgContainer {
		position: absolute;
		bottom: 24px;
		left: 0px;
		text-align: start;

		img {
			width: 140px;
		}
	}
	transition: all 0.25s ease-in-out;
	&:hover {
		box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
	}
}

.mobSubtitle {
	font-weight: 400;
}

.link {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
}

.mobImgContainer {
	width: 140px;
}

.ctaContainer {
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
	&:hover {
		color: rgba(0, 0, 0, 0.6);
	}
}
