@import "../colors";
.filterContainer {
	display: block;
	@media screen and (max-width: 579px) {
		display: none;
		position: fixed;
		top: 0px;
		right: 0px;
		padding: 20px;
		height: 100%;
		width: 100%;
		z-index: 100000;
		border: 1px $accent-3-light solid;
		background-color: $white;
		overflow: scroll;
		&.show {
			display: block;
		}
	}
}
