@import "../colors";

.filterContainer {
	display: block;
	border: 1px $accent-3-light solid;
	padding: 20px;
	border-radius: 4px;
	user-select: none;

	@media screen and (max-width: 579px) {
		display: none;
		position: fixed;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 100%;
		z-index: 100000;
		background-color: $white;
		overflow: scroll;
		&.show {
			display: block;
		}
	}
}
