@import "../colors";
@import "../breakpoints";
.container {
	cursor: pointer;
	position: relative;
}

.imgContainer {
	&:hover .atcContainer {
		opacity: 1;
		animation: slideIn 0.25s 1 linear forwards;
	}
}

.atcContainer {
	position: absolute;
	width: 80%;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0%);
	opacity: 0;

	button {
		font-size: 14px;
		@media screen and (max-width: $sm) {
			font-size: 14px;
		}
	}
	button:hover,
	button:active {
		border-color: rgb(245, 245, 245);
		background-color: rgb(245, 245, 245);
	}
}

.tagDiscount {
	font-size: 12px;
	position: absolute;
	top: 3%;
	left: 5%;
}

.wishlist {
	font-size: 16px;
	position: absolute;
	top: 3%;
	right: 7%;
}

@keyframes slideIn {
	0% {
		opacity: 0;
		bottom: 0%;
	}

	100% {
		opacity: 1;
		bottom: 5%;
	}
}
